body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}



.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #000000;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    
    border: none;
    background-color: #c0c5c7;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    
}

input[type=password] {
    
    border: none;
    background-color: #c0c5c7;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}



input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}





.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #000000;
}

.loginbttm {
    padding: 0px;
}
