<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>House Rental</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/house/hr.png">

    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    
</head>

<body>

    <header>
        <!-- Header Start -->
        
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/"><img src="/assets/img/house/hr.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <% if(user.length){ %>
                                        <li><a href="/category">Category</a></li>
                                        <li><a href="/showStatus">Status</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                        <%  } else { %>
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/createaccount">Create Account</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>

    </header>
    <main>

     
                <div class="single-slider  hero-overly slider-height d-flex align-items-center"
                    data-background="/assets/img/house/home.jpg">
                </div>
                
                            <div class="gallery-img">
                                <a href="#" style="position: relative; left: 35%;"><img src="/assets/img/house/terrace.jpeg" alt=""></a>
                                <h1 style="position: relative; left: 35%;">Rumah Teres 2 Tingkat Seksyen 7</h1>
                                <h3 style="position: relative; left: 35%;">Intake Mac - UiTM<br>

                                    Depan Sekolah Seksyen 7
                                    (Terrace)<br>
                                    
                                    Kemasukan Februari /MAC 2023<br>
                                    * 4 bilik tidur
                                    * 3 Tandas
                                    </h3>
                                    <h4 style="position: relative; left: 35%;"><a href=https://www.google.com/maps/dir/UiTM+Shah+Alam,+Jalan+Ilmu+1%2F1,+Shah+Alam,+Selangor/''/@3.0916932,101.4605838,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x31cc528b5e947345:0xe8520627500cb672!2m2!1d101.5036823!2d3.0697652!1m5!1m1!1s0x31cc361c38f926b3:0x4394f4bd3fe295aa!2m2!1d101.7098095!2d3.1253081!11m1!5shttps:%2F%2Fgoogleads.g.doubleclick.net%2Fpagead%2Fconversion%2F%3Fai%3DC5RhAKlDRY_WlI4qlrtoP-o6P-An37Mv4ZZCVldfTEJiMgt-LDhABIP3IlBpgy9O2jowXoAGAnZ3GA8gBCakCCFz9oOF9jz7gAgCoAwHIA8sEqgSkAk_QuCQzuf86G_ukR_uhoCeioksbYrdIj_YqbAgJ7np1BSv48EkhZjJ5n0yM3t4NZg4yPmkfrJ61Z4TLxeOuZ_I7MWfFkbrjbZKMTQ_EE-MYSJ7w2T7WMPDxK1-q3U6Xxz76RVFeJby2N8D6NhCTe9NnZLp9Sg--Eu-NOfqHkiHysWRvAjMxh7PcruWVosn1GJ_XnSR5hmDGevLMWBKrvIt1OfesLBrnJtNigEQgKQNlrJyNYTr50oIb76ScAXqQxQ-0HplZsERZ_SJ2zDJ3d8N7NaSfL5KYCglkzbVc5lSIGPGS3kenNMjLwqs_46wTGI-eR3TzQhZUeGmhzQHi9ccGpHe2WxROlgMhhKZsSQDV5bHei3DDBYIaCs7TpScCFwhTSsPABNO3nrSxAuAEAZAGAaAGLoAH6OLiOYgHAZAHAqgHjs4bqAeT2BuoB-6WsQKoB_6esQKoB6SjsQKoB9XJG6gHpr4bqAeaBqgH89EbqAeW2BuoB6qbsQKoB_-esQKoB9-fsQLYBwDSCBIIABACGB0yAQA6B5_QgICAgASxCdJVO-XOljCngAoDmAsByAsB4AsBgAwBuAwBuBOIBNgTCtAVAZgWAfgWAYAXAQ%26sigh%3Dib_QvQLPtkw%26label%3D_AITNAME_%26value%3D_AITVALUE_>Location</a></h4>
                            </div>
                            <div class="gallery-img">
                                <a href="#" style="position: relative; left: 35%;"><img src="/assets/img/house/apartment.png" alt=""></a>
                                <h1 style="position: relative; left: 35%;">Apartment Baiduri</h1>
                                <h3 style="position: relative; left: 35%;">Intake Mac - UiTM<br>

                                    Depan Masjid Seksyen 7
                                    (MEDIUM APARTMENT)<br>
                                    
                                    Kemasukan Februari /MAC 2023<br>
                                    * 3 bilik tidur
                                    * 1 Tandas
                                    * 1 Bilik Air</h3>
                                <h4 style="position: relative; left: 35%;"><a href=https://www.google.com/search?q=apartment%20seksyen%207%20shah%20alam&rlz=1C1BNSD_enMY997MY997&oq=apartment+seksyen+7&aqs=chrome.0.0i512j69i57j0i512l2j0i22i30l2j69i60l2.4180j0j7&sourceid=chrome&ie=UTF-8&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&tbm=lcl&sxsrf=AJOqlzXv04pJfHBKB5ljB5_XyVLS7fJROA:1674589628498&rflfq=1&num=10&rldimm=5881610230232892736&lqi=Ch1hcGFydG1lbnQgc2Vrc3llbiA3IHNoYWggYWxhbUjooMaK7ICAgAhaLxAAGAAYARgCGAMYBCIdYXBhcnRtZW50IHNla3N5ZW4gNyBzaGFoIGFsYW0yAm1zkgESYXBhcnRtZW50X2J1aWxkaW5nqgEREAEqDSIJYXBhcnRtZW50KCg&ved=2ahUKEwiO3M2__OD8AhUxyDgGHUmzC4AQvS56BAgQEAE&sa=X&rlst=f#rlfi=hd:;si:5881610230232892736,l,Ch1hcGFydG1lbnQgc2Vrc3llbiA3IHNoYWggYWxhbUjooMaK7ICAgAhaLxAAGAAYARgCGAMYBCIdYXBhcnRtZW50IHNla3N5ZW4gNyBzaGFoIGFsYW0yAm1zkgESYXBhcnRtZW50X2J1aWxkaW5nqgEREAEqDSIJYXBhcnRtZW50KCg;mv:[[3.0807381,101.50175879999999],[3.0640859,101.47917919999999]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2>Location</a></h4>
                            </div>
                            <div class="gallery-img">
                                <a href="#" style="position: relative; left: 35%;"><img src="/assets/img/house/flat.jpg" alt=""></a>
                                <h1 style="position: relative; left: 35%;">Flat Seksyen 7</h1>
                                <h3 style="position: relative; left: 35%;">Intake Mac - UiTM<br>

                                    Flat PKNS Seksyen 7
                                    (FLAT)<br>
                                    
                                    Kemasukan Februari /MAC 2023<br>
                                    * 2 bilik tidur
                                    * 1 Tandas
                                    * 1 Bilik Air</h3>
                                    <h4 style="position: relative; left: 35%;"><a href=https://www.google.com/maps/dir/UiTM,+Jalan+Ilmu+1%2F1,+Shah+Alam,+Selangor/flat+seksyen+7/@3.0689659,101.4882411,16z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x31cc528b5e947345:0xe8520627500cb672!2m2!1d101.5036823!2d3.0697652!1m5!1m1!1s0x31cc53ebc105d7e7:0x96019061ff1323fc!2m2!1d101.4842746!2d3.0705623>Location</a></h4>
                            </div>
                        </div>
        
    </main>
    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>


    <!-- Jquery Plugins, main Jquery -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>